h1{
    display: block;
    font-size: large;
    font-weight: bold;
    color: rgb(226, 43, 165);
}
body{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 500%;
    object-fit: cover;
    border: 5px solid #000000;
}
button{
    padding: 12px 25px;
    font-size: 16px;
    background-color: #ffffff;
    color: black;
    border: 3px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}
.container{
    text-align: center;
}